<form action="/admin" method="post">
  Enter login: <br>
  <input type=text name="login"><br>
  Enter password: <br>
  <input type=password name="password"><br>
  <input type="submit" >
</form>
<h1>List of users</h1>
  
  <table class="table">
     <thead>
 <tr>
    	<th> Name</th>
      <th> Phone</th>
      <th> Date</th>
      <th> Barber</th>
      <th> Color</th>
    </tr> 
   </thead>
  <% @showusers.each do |user| %>
   <tbody>
    <tr>
    	<td> <%=user['Name']%></td>
      <td> <%=user['Phone']%></td>
      <td> <%=user['Dateststamp']%></td>
      <td> <%=user['Barber']%></td>
      <td style ="background-Color: <%=user['Color']%>"> <%=user['Color']%></td>
    </tr> 
    <% end %>
  </tbody>

</table>